.content.mainpage .right .calendars .mob {
  display: none;
}

@media (max-width: 1276px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 789px) {
  .content.manage .wrapper,
  .content.tippage .wrapper {
    gap: 16px;
  }
  .content.manage .head .title,
  .content.tippage .head .title {
    font-size: 24px;
    line-height: 32px;
  }
  .content.manage .connect {
    padding: 16px;
  }
  .content.manage .delete {
    position: absolute;
    left: 16px;
    bottom: 16px;
  }
  .content.manage .boxes {
    position: relative;
    padding: 16px 16px 60px 16px;
  }
  .content.manage .row {
    flex-direction: column;
    align-items: flex-start;
  }
  .content.tippage .left .form-actions {
    display: none;
  }
  .content.tippage .left .form-group.colors {
    display: none;
  }
  .content.tippage .right .form-group .time-select {
    width: 100%;
  }
  .content.tippage .right .form-group .time-select select {
    width: 50%;
  }
  .content.tippage .right .form-group label {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }
  .content.tippage .right .schedule-form {
    padding: 0px 0px 0px 0px;
  }
  .content.tippage .wrapper {
    gap: 16px;
  }
  .content.tippage .head .title {
    font-size: 24px;
  }
  .content.tippage .head {
    padding: 0px 0px 0px 0px;
  }
  .content.tippage .left,
  .content.tippage .right {
    width: 100%;
  }
  .content.tippage .forms {
    flex-direction: column;
    gap: 0;
  }
  .content.mainpage .popups::after {
    right: 50%;
  }
  .content.mainpage .popups {
    left: 0;
  }
  .content.mainpage .right {
    width: 100%;
    justify-content: space-between;
  }
  .content.mainpage .right .calendars .dtop {
    display: none;
  }
  .content.mainpage .right .calendars .mob {
    display: block;
  }
  .content.mainpage .dashboard {
    gap: 16px;
  }
  .content.mainpage .left {
    width: 100%;
    justify-content: space-between;
  }
  .content.mainpage .left .info {
    width: 24px;
    height: 24px;
    position: relative;
    font-size: 0;
  }
  .content.mainpage .left .info::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/icon/alert-circle.svg") no-repeat;
  }
  .content.mainpage {
    gap: 0;
  }
  .content.mainpage .about {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .content.mainpage .mail a {
    font-size: 14px;
    font-weight: 500;
  }
  .content.mainpage .name {
    justify-content: space-between;
  }
  .content.mainpage .name span {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .content.mainpage .avatar img {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
  }
  .content.mainpage .head {
    align-items: flex-start;
    padding: 16px;
  }
  .content.mainpage .items .item {
    min-width: 100%;
    max-width: 100%;
  }
  .content.mainpage .items,
  .content.mainpage .dashboard {
    flex-direction: column;
  }
  .content.mainpage .wrapper {
    padding: 16px;
  }
  .finish .bottom,
  .finish .top {
    width: 100%;
  }
  .calendar-wrapp .info section.active {
    margin: 32px 0px 0px 0px;
  }
  .calendar .day.selected::before,
  .calendar .day.selected::after {
    display: none;
  }
  .calendar .day {
    padding: 16px 12px;
  }
  .calendar-wrapp .info {
    padding: 0px 0px 0px 0px;
  }
  .footer-nav {
    padding: 16px;
    border-top: 1px solid #eaecf0;
    background: #fff;
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    display: block;
  }
  .footer-nav .butt-left {
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 16px;
  }
  .footer-nav .butt-right {
    border-radius: 8px;
    border: 1px solid #1570ef;
    background: #1570ef;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 16px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .footer-nav section {
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: none;
  }
  .footer-nav section.active {
    display: flex;
  }
  .calendar .day {
    font-size: 16px;
  }
  .header .sola .burger {
    display: block;
  }
  .header .sola {
    gap: 8px;
  }
  .header {
    padding: 16px;
  }
  .header .saga .person,
  .header .saga {
    gap: 8px;
  }
  .header .saga .add {
    display: none;
  }
  .calendar-wrapp .info .s01 {
    display: none !important;
  }
  .calendar-wrapp {
    gap: 0;
  }
  .calendar-wrapp .info {
    max-width: 100%;
  }
  .calendar-wrapp .info {
    border-left: none;
  }
  .content .head {
    padding: 16px;
  }
  .calendar-wrapp .navigation {
    padding: 24px 0px 16px 0px;
  }
  .calendar-wrapp .c-body .mob {
    display: block;
    margin: 16px 0px 0px 0px;
  }
  .calendar-wrapp .navigation .nav h3 {
    display: none;
  }
  .header .saga .info {
    display: none;
  }
  .content {
    padding: 16px;
    gap: 16px;
  }
  .calendar-wrapp {
    flex-direction: column;
  }
  .content .head .client-db,
  .header .sola .vline,
  .header .sola .client-db {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */