@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation-second ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px 0px 0px 0px;
}
.navigation-second ul li {
  cursor: pointer;
  color: crimson;
}

.header {
  padding: 16px 24px;
  border-bottom: 1px solid rgb(234, 236, 240);
  background: rgb(255, 255, 255);
}
.header .saga {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .saga .per-arrow,
.header .saga .ring,
.header .saga .add {
  cursor: pointer;
}
.header .saga .avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.header .saga .avatar img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .saga .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header .saga .info .per-email {
  color: rgb(102, 112, 133);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.header .saga .info .per-name {
  color: rgb(16, 24, 40);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
.header .saga .person {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .sola {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .sola .burger {
  display: none;
}
.header .sola .logo-client {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.header .sola .logo-client img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}
.header .sola .client-db {
  display: flex;
  gap: 12px;
}
.header .sola .vline {
  width: 40px;
  height: 1px;
  transform: rotate(-90deg);
  background: rgb(234, 236, 240);
}
.header .sola .info {
  display: flex;
  flex-direction: column;
}
.header .sola .info .lk-link {
  color: rgb(102, 112, 133);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.header .sola .info .title {
  color: rgb(16, 24, 40);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: none;
}

.wrapper {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
  min-width: 260px;
  padding: 24px;
  border-right: 1px solid rgb(234, 236, 240);
  background: rgb(255, 255, 255);
}
.sidebar .navigation-bottom {
  padding: 16px;
  border: 1px solid rgb(234, 236, 240);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar .navigation-bottom .change {
  margin: 8px 0px 0px 0px;
  cursor: pointer;
  color: rgb(21, 112, 239);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.sidebar .navigation-bottom .info {
  color: rgb(152, 162, 179);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.sidebar .navigation-bottom .title {
  color: rgb(16, 24, 40);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.sidebar .progress-bar {
  width: 100%; /* Ширина полоски прогресса */
  height: 8px; /* Высота полоски прогресса */
  background-color: rgb(242, 244, 247);
  border-radius: 10px; /* Закругленные углы */
}
.sidebar .progress {
  height: 100%;
  background-color: rgb(253, 176, 34); /* Цвет заполнения */
  border-radius: 10px; /* Закругленные углы */
  width: 50%; /* Измените эту ширину, чтобы указать прогресс */
}
.sidebar .navigation-second {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0px;
}
.sidebar .navigation-second .butt {
  cursor: pointer;
  color: rgb(102, 112, 133);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar .navigation-second .butt:hover, .sidebar .navigation-second .butt.active {
  color: rgb(21, 112, 239);
  background: rgb(239, 248, 255);
  border: 1px solid rgb(239, 248, 255);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.sidebar .navigation-second .butt:hover svg path, .sidebar .navigation-second .butt.active svg path {
  stroke: rgb(21, 112, 239);
}
.sidebar .navigation-second .butt svg path {
  stroke: rgb(102, 112, 133);
}
.sidebar .navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar .butt-create {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 30px 12px 12px;
  border: 1px solid rgb(21, 112, 239);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgb(21, 112, 239);
}
.sidebar .butt-base {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background: rgb(249, 250, 251);
}

.content {
  width: 100%;
  min-height: 100%;
  padding: 40px 40px 0px 40px;
  background: rgb(255, 255, 255);
  flex-direction: column;
  display: none;
}
.content .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.content .head .client-db {
  display: flex;
  gap: 12px;
}
.content .head .client-db .logo-client {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50px;
}
.content .head .client-db .logo-client img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .head .client-info .subtitle {
  color: rgb(102, 112, 133);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.content .head .client-info .title {
  color: rgb(16, 24, 40);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.content .head .info .subtitle {
  color: rgb(102, 112, 133);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.content .head .info .title {
  color: rgb(16, 24, 40);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin: 0px 0px 8px 0px;
}
.content .head .info .time {
  color: rgb(105, 65, 198);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin: 0px 0px 16px 0px;
}
.content.calendarpage .head {
  padding: 24px;
  border-bottom: 4px solid rgb(105, 65, 198);
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  background: rgb(255, 255, 255);
}
.content.active {
  display: flex;
}
.content.hidden {
  display: none;
}

.calendar-wrapp {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
}
.calendar-wrapp .c-body {
  width: 100%;
}
.calendar-wrapp .c-body .mob {
  color: #101828;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  display: none;
}
.calendar-wrapp .navigation {
  padding: 40px 0px 24px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.calendar-wrapp .navigation .butt-utc {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.calendar-wrapp .navigation .nav {
  display: flex;
  align-items: center;
  gap: 12px;
}
.calendar-wrapp .navigation .nav .butt-today {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px;
  border-radius: 8px;
  border: 1px solid #1570ef;
  background: #1570ef;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.calendar-wrapp .navigation .nav .butt {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-wrapp .navigation .nav h3 {
  color: #101828;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 126.667% */
}
.calendar-wrapp .info {
  max-width: 350px;
  padding: 40px;
  border-left: 1px solid #eaecf0;
}
.calendar-wrapp .info .meeting-form {
  background-color: white;
  margin: 40px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.calendar-wrapp .info .meeting-form label {
  margin-bottom: 5px;
  color: #333;
}
.calendar-wrapp .info .meeting-form input,
.calendar-wrapp .info .meeting-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
.calendar-wrapp .info .change-time,
.calendar-wrapp .info .meeting-form .add-guests {
  text-align: center;
  font-weight: 600;
  min-width: 260px;
  margin: 0px 0px 16px 0px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  padding: 10px 16px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}
.calendar-wrapp .info .meeting-form .create-meeting {
  background-color: #1570ef;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 0px 16px 0px;
}
.calendar-wrapp .info .meeting-form .create-meeting:hover {
  background-color: #0056b3;
}
.calendar-wrapp .info section {
  display: none;
}
.calendar-wrapp .info section ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px 0px 0px 0px;
}
.calendar-wrapp .info section ul li {
  cursor: pointer;
  min-width: 260px;
  padding: 10px 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.calendar-wrapp .info section ul li.active {
  color: #fff;
  border: 1px solid #1570ef;
  background: #1570ef;
}
.calendar-wrapp .info section p {
  color: #667085;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.calendar-wrapp .info section .subtitle {
  color: #98a2b3;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.calendar-wrapp .info section .title {
  color: #344054;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.calendar-wrapp .info section .img {
  margin: 0px 0px 40px 0px;
}
.calendar-wrapp .info section.s01 {
  text-align: center;
}
.calendar-wrapp .info section.s01 .title {
  margin: 0px 0px 16px 0px;
}
.calendar-wrapp .info section.active {
  display: block;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
  width: 100%;
}
.calendar .day-name {
  color: #98a2b3;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  padding: 10px;
}
.calendar .day {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #98a2b3;
  border: 1px solid #dee2e6;
  background-color: #fff;
  padding: 5px 20px 40px 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.calendar .day.empty {
  cursor: default;
  color: #eaecf0;
}
.calendar .day.empty:hover {
  background: #fff;
}
.calendar .day.selected {
  background: #eff8ff;
  color: #1849a9;
}
.calendar .day.active {
  background: #1570ef;
  color: #fff;
  border: 1px solid #1570ef;
}
.calendar .day.active::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #175cd3;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar .day.active::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #2e90fa;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar .day.selected::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #2e90fa;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar .day.selected::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #c2dbf6;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar .day:hover {
  background: #d1e9ff;
  border: 1px solid #1570ef;
}

.finish {
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 40px;
  display: none;
  width: 100%;
}
.finish .button {
  padding: 10px 16px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.finish .ico {
  margin: 0px 0px 40px 0px;
}
.finish .time {
  color: #1570ef;
  text-align: center;
  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.finish p {
  color: #667085;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.finish .title {
  margin: 0px 0px 16px 0px;
  color: #344054;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.finish .bottom {
  gap: 16px;
}
.finish .bottom .title {
  margin: 0px 0px 8px 0px;
}
.finish .bottom .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finish .bottom .avatar .logo {
  margin: -16px 0px -8px 0px;
}
.finish .bottom .avatar .logo img {
  width: 32px;
  height: 32px;
}
.finish .bottom .avatar .photo img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.finish .bottom,
.finish .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 480px;
  border: 1px solid #eaecf0;
}
.finish.active {
  display: flex;
}

.content.mainpage {
  padding: 0px 0px 0px 0px;
}
.content.mainpage .popups {
  z-index: 999;
  position: absolute;
  top: -62px;
  left: -57px;
  border-radius: 8px;
  background: var(--Gray-900, #101828);
  padding: 12px;
  color: var(--White, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: none;
}
.content.mainpage .popups.bott {
  top: auto;
  bottom: -38px;
}
.content.mainpage .popups.bott::after {
  right: 50%;
  bottom: auto;
  top: -3px;
}
.content.mainpage .popups::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  right: 20px;
  bottom: -3px;
  background: #101828;
  transform: rotate(45deg);
}
.content.mainpage .popups span {
  font-weight: 600;
}
.content.mainpage .popups.active {
  display: block;
}
.content.mainpage .items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.content.mainpage .items .item {
  position: relative;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
  border-bottom: 4px solid var(--Primary-700, #6941c6);
  background: var(--White, #fff);
  /* Shadow/lg */
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  min-width: 31%;
  max-width: 32%;
}
.content.mainpage .items .item.green {
  border-bottom: 4px solid var(--Success-700, #027a48);
}
.content.mainpage .items .item.green .top .time {
  color: #027a48;
}
.content.mainpage .items .item.hide {
  border-bottom: 4px solid var(--Gray-400, #98a2b3);
  background: var(--Gray-100, #f2f4f7);
}
.content.mainpage .items .item.hide .dashbrd .status {
  background: url("../img/icon/eye-off.svg") no-repeat;
}
.content.mainpage .items .item.hide .dashbrd .link {
  color: #d0d5dd;
  border-radius: 8px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.content.mainpage .items .item.hide .dashbrd .link svg path {
  stroke: #d0d5dd;
}
.content.mainpage .items .item.hide .top .time {
  color: var(--Gray-400, #98a2b3);
}
.content.mainpage .items .item .dashbrd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.content.mainpage .items .item .dashbrd .status {
  background: url("../img/icon/eye.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.content.mainpage .items .item .dashbrd .link {
  cursor: pointer;
  color: var(--Gray-700, #344054);
  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.content.mainpage .items .item .infos {
  color: var(--Gray-500, #667085);
  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.content.mainpage .items .item .title {
  margin: 0px 0px 8px 0px;
  color: var(--Gray-900, #101828);
  /* Text lg/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.content.mainpage .items .item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content.mainpage .items .item .top .buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.content.mainpage .items .item .top .buttons div {
  cursor: pointer;
}
.content.mainpage .items .item .top .time {
  color: var(--Primary-700, #6941c6);
  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.content.mainpage .right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.content.mainpage .right div {
  cursor: pointer;
}
.content.mainpage .right .type {
  border-radius: 8px;
  border: 1px solid var(--Blue-600, #1570ef);
  background: var(--Blue-600, #1570ef);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--White, #fff);
  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.content.mainpage .right .calendars {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content.mainpage .left {
  display: flex;
  gap: 16px;
  align-items: center;
}
.content.mainpage .left .info {
  color: var(--Gray-400, #98a2b3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  max-width: 150px;
}
.content.mainpage .left .link {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content.mainpage .dashboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content.mainpage .wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
}
.content.mainpage .about {
  color: var(--Gray-400, #98a2b3);
  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.content.mainpage .mail {
  margin: 4px 0px;
}
.content.mainpage .mail a {
  color: var(--Blue-600, #1570ef);
  /* Text md/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.content.mainpage .name {
  display: flex;
  gap: 12px;
  align-items: center;
}
.content.mainpage .name span {
  color: var(--Gray-900, #101828);
  /* Display xs/Semibold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.content.mainpage .avatar img {
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid var(--White, #fff);
}
.content.mainpage .head {
  justify-content: flex-start;
  gap: 24px;
  padding: 40px;
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-50, #f9fafb);
  box-shadow: none;
}

.content.tippage .right {
  width: 48%;
}
.content.tippage .right .schedule-form {
  width: 100%;
  padding: 0px 100px 0px 0px;
}
.content.tippage .right .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.content.tippage .right .form-group label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Gray-700, #344054);
  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  min-width: 100%;
}
.content.tippage .right .form-group input[type=checkbox] {
  margin-right: 10px;
}
.content.tippage .right .form-group .time-select {
  display: flex;
  justify-content: center;
}
.content.tippage .right .form-group .time-select select {
  color: var(--Gray-700, #344054);
  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  width: 120px;
  padding: 10px 16px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.content.tippage .right .form-group .time-select select:nth-child(2) {
  border-radius: 0px 8px 8px 0px;
  margin-left: -1px;
}
.content.tippage .right .form-group .time-select select:first-child {
  border-radius: 8px 0px 0px 8px;
}
.content.tippage .right .form-group .time-select.disabled {
  background: #f2f4f7;
  border-radius: 8px;
}
.content.tippage .left {
  width: 48%;
}
.content.tippage .left .schedule-form {
  width: 100%;
}
.content.tippage .left .form-group {
  margin-bottom: 16px;
}
.content.tippage .left .form-group label {
  display: block;
  margin-bottom: 6px;
  color: var(--Gray-700, #344054);
  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.content.tippage .left .form-group input,
.content.tippage .left .form-group select,
.content.tippage .left .form-group textarea {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.content.tippage .left .form-group textarea {
  resize: vertical;
}
.content.tippage .left .color-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.content.tippage .left .color-picker .color-option {
  width: 61px;
  height: 61px;
  border-radius: 16px;
  border: 4px solid var(--White, #fff);
  background: var(--Gray-500, #667085);
  /* Shadow/md */
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.content.tippage .left .color-picker .color-option.selected {
  position: relative;
}
.content.tippage .left .color-picker .color-option.selected::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 14px;
  background: url("../img/check.svg");
}
.content.tippage .left .color-picker .color-option:nth-child(1) {
  background-color: #6b7280;
}
.content.tippage .left .color-picker .color-option:nth-child(2) {
  background-color: #8b5cf6;
}
.content.tippage .left .color-picker .color-option:nth-child(3) {
  background-color: #ef4444;
}
.content.tippage .left .color-picker .color-option:nth-child(4) {
  background-color: #f97316;
}
.content.tippage .left .color-picker .color-option:nth-child(5) {
  background-color: #10b981;
}
.content.tippage .left .color-picker .color-option:nth-child(6) {
  background-color: #3b82f6;
}
.content.tippage .left .color-picker .color-option:nth-child(7) {
  background-color: #6366f1;
}
.content.tippage .left .color-picker .color-option:nth-child(8) {
  background-color: #f59e0b;
}
.content.tippage .left .color-picker .color-option:nth-child(9) {
  background-color: #ec4899;
}
.content.tippage .left .color-picker .color-option:nth-child(10) {
  background-color: #ef4444;
}
.content.tippage .left .color-picker .color-option:nth-child(11) {
  background-color: #8b5cf6;
}
.content.tippage .left .color-picker .color-option:nth-child(12) {
  background-color: #6366f1;
}
.content.tippage .left .color-picker .color-option:nth-child(13) {
  background-color: #f59e0b;
}
.content.tippage .left .form-actions {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.content.tippage .left .form-actions .cancel-button,
.content.tippage .left .form-actions .submit-button {
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.content.tippage .left .form-actions .cancel-button {
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
}
.content.tippage .left .form-actions .submit-button {
  background: var(--Blue-600, #1570ef);
  color: #ffffff;
}
.content.tippage .forms {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.content.tippage .head {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.content.tippage .head .title {
  color: var(--Gray-900, #101828);
  /* Display sm/Semibold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 126.667% */
}
.content.tippage .head .bread {
  color: var(--Gray-500, #667085);
  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}
.content.tippage .head .bread a {
  color: var(--Gray-500, #667085);
}
.content.tippage .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}/*# sourceMappingURL=style.css.map */